<h2>Clips Template</h2>

<input type="text" id="new-clips" placeholder="What needs to be done?" />

<section id="main">
    <ul id="clips-list">
        {{#each model as |clips|}}
            <li class="completed">
                <input type="checkbox" class="toggle">
                <label>{{clips.title}}</label><button class="destroy"></button>
            </li>
        {{/each}}
    </ul>

    <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
    <span id="clips-count">
        <strong>2</strong> clips left
    </span>
    <ul id="filters">
        <li>
            <a href="/" class="selected">All</a>
        </li>
        <li>
            {{#link-to "starred"}}Starred{{/link-to}}
        </li>
    </ul>

    <button id="clear-completed">
        Clear completed (1)
    </button>
</footer>
